<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id = "myServiceTarget" class="demo.aop.monitor.MyService"/>
    <bean id="pmonitor" class="demo.aop.monitor.ControllerblePerformanceMonitor"/>
    <bean id="myService" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="demo.aop.monitor.Monitorable"
          p:target-ref="myServiceTarget"
          p:interceptorNames="pmonitor"
          p:proxyTargetClass="true"/>
</beans>